# Copy this file to .env and update values as needed.
SB_IMAGE=ghcr.io/silverbulletmd/silverbullet:latest
SB_CONTAINER=silverbullet-test
SB_HOST_PORT=3000
KB_BASE_URL=https://kanboard.mydomain.com
KB_TOKEN=replace_with_your_token
KB_USERNAME=replace_with_your_username
KB_PROJECT_ID=1
OPEN_COMMAND=open
TEST_SPACE_DIR=test/space
TEST_BUILD_DIR=test/build
TEST_TEST_DIR=test/test
