# -----------------------------------------------------------------------------
# macOS
# -----------------------------------------------------------------------------

.DS_Store
.AppleDouble
.LSOverride
._*

# -----------------------------------------------------------------------------
# Editors
# -----------------------------------------------------------------------------

*~
*.swp
*.swo
*.bak

.vscode/
.idea/

# -----------------------------------------------------------------------------
# Build / Generated artifacts
# -----------------------------------------------------------------------------

test/build/
test/test/

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log